body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
 }
.index-header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.index-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.index-main {
    flex: 1;
    text-align: center;
}
.index-footer {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin-top: auto;
    min-height: 25px;
    max-height: 75px;
}

.homePage-header {
    display: flex;
    flex: 3;
    background-color: black;
    color: white;
    flex-direction: column;
    min-height: 100px;
    font-size: 70px;
    text-align: center;
}

.nav-items {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 17px;
    text-align: end;
    flex-direction: column;
    align-self: center;
    gap: 50px; 
    justify-content: flex-end;
    text-underline-position: below;
    text-decoration: underline;
    padding-inline-end: 15px;
}
.nav-items a {
    color: white;
}
.homePage-main {
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 25px;
}
.homePage-sectionbreak {
    content: '';
    display: block;
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: 10px;

}
.friendsGoals-header {
    display: flex;
    flex: 3;
    background-color: black;
    color: white;
    flex-direction: column;
    min-height: 100px;
    font-size: 70px;
    text-align: center;
}
.accordion {
    width: 50%;
    margin: auto;
}
.accordion-item {
    border: 1px solid black;
    margin-bottom: 1px;
    text-align: center;
}
.accordion-header{
    background-color: lightgrey;
    padding: 10px;
    cursor: pointer;
    padding: 3%;
}
.accordion-content{
    display: none;
    padding: 10px;
    background-color: lightsteelblue;
}
.accordion-item.active .accordion-content {
    display: block;
}
.accordion-sectionbreak {
    content: '';
    display: block;
    border-bottom: 2px solid black;
    width: 100%;
    margin: 10px 0;
}
